{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <p>Are you sure you want to delete "{{ item }}"?</p>

                    <form action="{% url 'delete_order' item.id %}" method="POST">
                        {% csrf_token %}
                        <a href="{% url 'home' %}" class="btn btn-sm btn-secondary">Cancel</a>
                        <input type="submit" name="confirm" value="Confirm" class="btn btn-sm btn-danger"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}